<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      internalLogLevel="Warn"
      internalLogFile="logs/nlox-internal.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch" />
  </extensions>

  <variable name="ProjectName" value="dotnet-template"/>

  <targets>
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000" bufferSize="10000" overflowAction="Discard">
      <target xsi:type="ElasticSearch"   
        index="${environment:ASPNETCORE_ENVIRONMENT}-${ProjectName}-${date:format=yyyy.MM.dd}_log"
        documentType=""
        requireAuth="true"  
        DisableCertificateValidation="true"
        uri="${configsetting:name=Elasticsearch.Uri}" 
        username="${configsetting:name=Elasticsearch.Username}" 
        password="${configsetting:name=Elasticsearch.Password}">
        <field name="time" layout="${longdate}" />
        <field name="level" layout="${level:upperCase=true}" />
        <field name="traceId" layout="${aspnet-TraceIdentifier}" />
        <field name="appplication" layout="${ProjectName}" />
        <field name="hostname" layout="${hostname}" />
        <layout type="JsonLayout">
          <attribute name="logger" layout="${logger}" />
          <attribute name="message" layout="${message}" />
        </layout>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="System.*" maxlevel="Debug" final="true"/>
    <logger name="Microsoft.*" maxlevel="Debug" final="true"/>

    <logger name="*" minlevel="Warning" writeTo="elastic" />
  </rules>

</nlog>